@import "../main";

.profile {
    .userinfo {
        background-color: $dark-blue;
        color: $white;
        overflow: hidden;
        padding-bottom: toRem(15);
        padding-top: toRem(30);

        &__text {
            color: $white;

            &--username {
                font-size: toRem(30);
                margin-bottom: toRem(10);
            }

            &--email {
                font-size: toRem(12);
            }
        }

        &__operations {
            text-align: right;
            display: flex;
            justify-content: flex-end;
        }
    }

    .main {
        height: 600px;
        min-height: 500px;
        // background-color: #f9f9f9;
        box-shadow: 0px 20px 15px 1px #e9e9e9;
    }

    //OVERRIDE
    .ant-tabs-nav,
    .ant-tabs-content-holder {
        padding-right: toRem(10);
        padding-left: toRem(20);
        // border-bottom: 1px solid $nearly-white;
    }
}

.avatar-uploader {
    text-align: center;

    > div {
        border-radius: 50% !important;
    }

    .ant-upload-disabled {
        opacity: 0.7;
    }
}
