@import "../main";
.header {
    background-color: $black;
    color: $white;
    height: toRem(64);
    // box-shadow: 3px 8px 20px 9px #fbfbfb;
    position: sticky;
    z-index: 10;

    &__wrapper {
        height: 100%;

        top: 0;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s ease;
        font-size: toRem(14);

        a {
            color: $white;
            font-weight: 500;
        }

        @media screen and (max-width: 800px) {
            padding: toRem(10) toRem(30);
            justify-content: space-between;
        }
    }

    .search-input {
        width: toRem(547);
        margin-left: toRem(20);
        border-radius: 5px;
    }

    &__left {
        display: flex;
        flex: 1;
    }

    &__right {
        display: flex;
        align-items: center;
        color: $white;
        font-size: toRem(14);

        a {
            font-size: toRem(14);
            color: $white;
            &:hover {
                color: $white;
            }
        }
        &__userInfo {
            padding-right: toRem(11);
            position: relative;
            display: flex;
            align-items: center;
            a {
                padding-right: toRem(11);
                position: relative;
                display: flex;
                align-items: center;
            }

            &--avatar {
                border-radius: 50%;
                width: toRem(30);
                height: toRem(30);
            }

            &--name {
                margin-bottom: 0;
                margin-left: toRem(11);
            }

            &::after {
                content: "";
                position: absolute;
                right: 0;
                height: toRem(30);
                top: 50%;
                transform: translateY(-50%);
                border-right: 1px solid $white;
                border-right-color: #e9e9e9;
            }
        }

        &__location {
            padding-left: toRem(11);

            a {
                color: $white;
                margin-left: toRem(11);
            }
        }
    }
}
