@import "../main";

.userdetail {
    height: 600px;
    min-height: 500px;
    background-color: #f9f9f9;
    box-shadow: 0px 20px 15px 1px #e9e9e9;

    //OVERRIDE {
    .ant-tabs-nav {
        padding-right: toRem(10);
        padding-left: toRem(20);
        border-bottom: 1px solid $nearly-white;
    }
}
