//////////////////////////////
$white: #fff;
$white-grey: #f2f2f2;
$nearly-white: #e9e9e9;
$nearly-white-blue: #f2f5f9;
$black: #000000;
$nearly-black: #222222;
$grey: #333545;
$nearly-grey: #666666;

$xlight-grey: #cecece;
$xxlight-grey: #ffffff80;
$dark-blue: #1f2533;
$nearly-blue: #2b3148;
$orange: #fa5238;
$red: #d04747;
$nearly-red: #f84464;
$green: #4abd5d;
$yellow: #e6df19;

// $btn: $mgreen;
// $btn-hover: $dark-mgreen;
// $btn-disable: $light-mgreen;
