@font-face {
    font-family: Regular;
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Thin;
    src: url("../../assets/fonts/Roboto-Thin.ttf");
}
@font-face {
    font-family: Black;
    src: url("../../assets/fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: Bold;
    src: url("../../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: Light;
    src: url("../../assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/roboto.woff");
}

@font-face {
    font-family: Roboto_500;
    src: url("../../assets/fonts/roboto_500.woff");
}

@font-face {
    font-family: Roboto_bold;
    src: url("../../assets/fonts/roboto_bold.woff");
}
