.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.spacing {
    margin: toRem(30) 0;
}

.heading-title--hasFence {
    padding-right: toRem(20);
}

.fence {
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: absolute;
    animation: 0.3s ease 0s 1 normal none running bcCCNc;
    z-index: 2;
    width: toRem(15);
    height: 100%;

    &--home {
        // background-color: $nearly-blue;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $nearly-blue 50%);
        width: toRem(30);
    }
}

.slick {
    &-prev,
    &-next {
        transform: translate(-0, -60px) !important;
        &::before {
            color: $black;
            font-size: toRem(30);
        }
    }
}

.slick-slider {
    .slick-prev {
        transform: translate(-25px, -60px) !important;
    }
}

.pending {
    opacity: 0.5;
}

.img-preview {
    width: toRem(102);
    height: toRem(102);
    border-radius: 50%;
}

.error {
    color: $red;
    margin-left: 1px;
}
